body{
    margin: 20px;
}
.image{
    width: 150px;
}
.card{
   width: 400px;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   padding: 20px;
   justify-content: space-around;
   text-align: center;
   background-color: #432818;
   color: #BB9457;
   border-bottom: #BB9457;
   box-shadow: #BB9457;
}
.dot{
    border: 1px darkcyan dotted;
}